<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <% var title = "Ставръ Недвижимость" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="css/style.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar">
<div class="navbar-wrapper">
    <nav class="navbar nav-tabs navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <a class="navbar-brand text-capitalize" href="#"><img class="logo" src="img/logo.png" alt=""></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Домой</a></li>
                    <li><a href="#price">Цена</a></li>
                    <li><a href="#photo">Фото</a></li>
                    <li><a href="#description">Описание</a></li>
                    <li><a href="#route">Как добраться</a></li>
                    <li><a href="#about">О компании</a></li>
                    <li><a href="#map-section">Наш офис</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<header class="intro text-center white" id="intro" role="presentation">
    <div class="intro-wrapper">
        <div class="container">
            <h1 class="text-uppercase col-xs-12">Через 14 дней ты хозяин дома в 18 км от КАД</h1>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Оставить заявку
            </button>
            <h2>Гатчинский район, п. Тайцы, садоводство Радуга</h2>
        </div>
    </div>
</header>

<main role="main">

    <section class="white" id="price">
        <div class="container text-center">
            <h1 class="text-uppercase ">Цена и характеристика</h1>
            <hr class="subtitle-divider"/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="icon"><i class="fa fa-home"></i></div>

                    <div class="pricing__price">
                        <span class="pricing__anim">
								2.6 млн <span class="pricing__currency"><i class="fa fa-rub fa-1"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="pricing__feature-list">
                        <li>
                            <ul class="list-inline">
                                <li>Номер объекта</li>
                                <li>7568</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Район</li>
                                <li>Гатчинский</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Размер участка, соток</li>
                                <li>6</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Общая площадь, м&#178;</li>
                                <li>60</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="pricing__feature-list">
                        <li>
                            <ul class="list-inline">
                                <li>Электричество</li>
                                <li>есть</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Водоснабжение</li>
                                <li>есть</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Газ</li>
                                <li>нет</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li>Водоем</li>
                                <li>нет</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Оставить заявку
            </button>
        </div>
    </section>

    <section class="gray" id="photo">
        <div class="container">
            <h1 class="text-uppercase text-center">Фото</h1>
            <hr class="subtitle-divider"/>

            <div class="slider-for">
                <% for (var i = 1; i < 17 ; i++ ) { %>
                <div>
                    <img src="img/house/<%= i %>.jpg" alt=""/>
                </div>
                <% } %>
            </div>
            <div class="slider-nav center hidden-xs">
                <% for (var i = 1; i < 17 ; i++ ) { %>
                <div>
                    <img src="img/house/<%= i %>.jpg" alt=""/>
                </div>
                <% } %>
            </div>
        </div>
    </section>

    <section class="white" id="description">
        <div class="container text-center">
            <h1 class="text-uppercase">Описание</h1>
            <hr class="subtitle-divider"/>
            <p class="text-left">
                Дом с верандой и балкончиком, бревенчатый, утеплен, обшит сайдингом 2 этажа, 60 кв. метров. <br/>
                Участок - 6 соток, ровный, сухой, огорожен, дорожки выложены плиткой, выполнена дренажная система. <br/>
                На участке: теплица 6Х3 м, хоз.блок с туалетом, баня из бревна(внутри комната отдыха, пол с подогревом,
                мыльная, хорошая парная). Вода-скважина (заведена в баню), установлен бойлер. Электричество в доме и
                бане.
                Рядом с банькой беседка, шашлычница. Все для полноценного отдыха! Продается с мебелью, техникой,
                инвентарем!
                Удобный круглогодичный подъезд к участку, хорошие приветливые соседи. Документы готовы к продаже.<br/>
                100% юридическая и финансовая защита сделки.<br/>
            </p>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Оставить заявку
            </button>
        </div>
    </section>

    <section class="gray" id="route">
        <div class="container">
            <h1 class="text-uppercase text-center">Объект на карте</h1>
            <hr class="subtitle-divider"/>
            <section class="map">
                <div class="col-xs-12" style="height: 100%">
                    <div id="map2" style="width: 100%; height: 100%;"></div>
                </div>
            </section>
        </div>
    </section>

    <section class="white" id="about">
        <div class="container">
            <h1 class="text-uppercase text-center">О компании</h1>
            <hr class="subtitle-divider"/>

            <p>Наше агентство загородной недвижимости производит сделки с объектами недвижимости любой ценовой
                категории, в диапазоне от 200 тысяч рублей до 100 миллионов рублей. При этом, Компания
                «Ставръ-недвижимость» успешно работает не только с популярными и известными направлениями
                Санкт-Петербурга и ЛО, но и с перспективными, находящимися в состоянии застройки.<br/><br/>
                Новейшие методики исследования рынка, эффективные технологии рекламы, которые мы применяем, позволяют
                максимально быстро осуществить как продажу дачного участка с домом, расположенного в отдаленном районе
                ЛО, так и реализацию элитного коттеджа с прилегающей территорией по достойной цене.</p>

            <p>Штат нашей компании — это энергичные специалисты, имеющие опыт в области купли/продажи загородной
                недвижимости и знающие все нюансы сегодняшнего рынка. В кратчайшие сроки мы осуществим:</p>
            <ul>
                <li>Срочный выкуп недвижимости. Вы можете продать дом буквально «сегодня». При этом наша задача состоит
                    в том, чтобы срочный выкуп загородной недвижимости был произведен на максимально выгодных для
                    Клиента условиях.
                </li>
                <li>Консультация и покупка земельного участка. В процессе отбора объектов мы учитываем все требования
                    Клиента, начиная от планируемого бюджета и заканчивая месторасположением участка, его площадью,
                    конфигурацией и т.д.
                </li>
                <li>Оказание юридической помощи в процессе оформления сделок купле-продаже земельных участков и
                    загородных домов, а также всего, что связано с:
                    <ul>
                        <li>приватизацией земельных участков;</li>
                        <li>получением разрешений на строительство дома;</li>
                        <li>оформлением земельных участков в собственность;</li>
                        <li>регистрацией дачных домов;</li>
                        <li>и т. д.</li>
                    </ul>
                </li>
            </ul>

            <h2 class="text-center text-capitalize">Наши партнеры</h2>

            <div class="responsive">
                <div>
                    <img src="http://stavrdom.com/sites/default/files/sberbank_0.jpg" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/2.gif" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/alfabank_0.png" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/vtb24.jpg" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/uit.jpg" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/rostelekom.jpg" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/megafon.jpg" alt=""/>
                </div>
                <div>
                    <img src="http://stavrdom.com/sites/default/files/bks.png" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="gray" id="map-section">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs container" role="tablist">
                <li role="presentation" class="active"><a href="#map-spacer-1" aria-controls="map-spacer-1" role="tab" data-toggle="tab">М. Проспект Просвещения</a></li>
                <li role="presentation"><a href="#map-spacer-2" aria-controls="map-spacer-2" role="tab" data-toggle="tab">М. Звездная</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="map-spacer-1">
                    <section class="map gray" id="map-section">
                        <div id="map-office-1" style="width: 100%; height: 100%;"></div>
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane" id="map-spacer-2">
                    <section class="map gray">
                        <div id="map-office-2" style="width: 100%; height: 100%;"></div>
                    </section>
                </div>
            </div>

        </div>
    </section>


</main>

<footer>
    <div class="container">
        <ul class="list-inline text-center footer-list">
            <li class="col-xs-6 col-sm-3">
                <span class="fa fa-phone fa-4x"></span>
                <address>
                    <p><strong>Телефон:</strong><br/>
                        +7 (812) 711-10-10<br/>
                        +7 (921) 945-13-83
                    </p>
                </address>
            </li>
            <li class="col-xs-6 col-sm-3">
                <span class="fa fa-envelope fa-4x"></span>
                <address>
                    <p><strong>Почта:</strong><br/>
                        <a href="mailto:info@stavrdom.com">info@stavrdom.com</a>
                    </p>
                </address>
            </li>
            <li class="col-xs-6 col-sm-3">
                <span class="fa fa-map-marker fa-4x"></span>
                <address>
                    <p><strong>Наш адрес:</strong><br/>
                        Пр. Просвещения 15, оф 148 <br/>
                        Санкт-Петербург, Россия
                    </p>
                </address>
            </li>
            <li class="col-xs-6 col-sm-3">
                <span class="fa fa-vk fa-4x"></span>
                <address>
                    <p><strong>Наша группа:</strong><br/>
                        <a href="https://vk.com/stavrdom">vk.com/stavrdom</a>
                    </p>
                </address>
            </li>
        </ul>
        <p class="col-xs-12 copyright">© <%= new Date().getFullYear() %> <%= title %></p>
    </div>
</footer>

<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal">
    <div class="modal-dialog">
        <div class="modal-content contact">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center contact-title">Оставьте заявку</h4>
            </div>
            <div class="modal-body text-center">
                <form id="contact" action="" method="post">
                    <fieldset>
                        <label for="inputName"></label>
                        <input type="text" id="inputName" placeholder="Имя*" tabindex="1" autofocus required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputTel"></label>
                        <input type="tel" id="inputTel" placeholder="Телефон*" tabindex="4"
                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required/>
                    </fieldset>
                    <button type="submit" id="inputSubmit" data-loading-text="Отправляется"
                            class="btn btn-default-lg">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34366350 = new Ya.Metrika({ id:34366350, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/34366350" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script src="js/main.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOGvx2htEJzH9Rv6NtA_k-o5W9u_t7PUc&callback=initMap"></script>
</body>
</html>